FLASK_SECRET_KEY='your_secret_key_here'
DATABASE_PATH='sdot_operations.db'
SDOT_TEAM_NAME='SDOT'
ERLC_SERVER_KEY='your_actual_erlc_server_key_here'
ROBLOX_CLIENT_ID='your_roblox_client_id'
ROBLOX_CLIENT_SECRET='your_roblox_client_secret'
ROBLOX_REDIRECT_URI='your_roblox_redirect_uri_here'
PORT=5000